# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
beautifulsoup4=4.10.0=pyh06a4308_0
python=3.9.7=h88f2d9e_1
python-dotenv=0.19.1=pyhd8ed1ab_0
requests=2.26.0=pyhd3eb1b0_0
